<div class="contact row">
	<div class="contact__wrapper">
		<h1 class="contact__heading">Contact</h1>
		<h4 class="contact__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
		</h4>
		<div class="contact__container">
				<div class="form-group col-xs-12">
				    <input type="text" class="form-control" id="name" placeholder="Name" class="contact__container-input" />
			   </div>
			   <div class="form-group col-xs-12">
				    <input type="Email" class="form-control" id="email" placeholder="Email" class="contact__container-input"/>
			   </div>
			   <div class="form-group col-xs-12">
				    <input type="text" class="form-control" id="subject" placeholder="Subject"  class="contact__container-input"/>
			   </div>
			   <div class="form-group col-xs-12" >
				    <textarea class="form-control" rows="4" id="Message"  placeholder="Message..." class="contact__container-textarea"></textarea>
				</div>
				<div class="col-xs-12">
					<button type="submit" class="btn contact__container-button">Submit</button>
			    </div>
			</div>
		<address class="contact__info">
			<div class="contact__info-breaker">
				<div class="contact__info-content">
					<h3>Address</h3>
					<p>307 5th Ave,16 Floor</p>
					<p>New York, NY 10016</p>
				</div>
				<div class="contact__info-content">
					<h3>Phone</h3>
					<p>212-222-1234</p>
				</div>
				<div class="contact__info-content">
					<h3>Fax</h3>
					<p>212-630-7862</p>
				</div>
			</div>
			<div class="contact__info-breaker">
				<div class="contact__info-content">
					<h3>Email</h3>
					<p>info@somecompany.com</p>
				</div>
				<div class="contact__info-content">
					<h3>Connect</h3>
					<div class="contact__info-content__social">
						<a class="facebook" href="#"></a>
						<a class="twitter" href="#"></a>
						<a class="linkedin" href="#"></a>
						<a class="pinterest" href="#"></a>
						<a class="vimeo" href="#"></a>
					</div>
			</div>
			</div>
		</address>
	</div>
</div>
{{yield}}