
<div class="footer row">
	<div class="footer__wrapper">
		<div class="footer__components col-xs-6 col-sm-3"> 
			<h3>About</h3>
			<p>Company</p>
			<p>Jobs</p>
			<p>Press</p>
			<p>Engineering</p>
		</div>
		<div class="footer__components col-xs-6 col-sm-3"> 
			<h3>Team Solutions</h3>
			<p>Marketing</p>
			<p>Project Management</p>
			<p>Managers</p>
			
		</div>
		<div class="footer__components col-xs-6 col-sm-3"> 
			<h3>Apps</h3>
			<p>Integrations</p>
			<p>ios</p>
			<p>Android</p>
			
		</div>
		<div class="footer__components col-xs-6 col-sm-3"> 
			<h3>Support</h3>
			<p>Customer Success</p>
			<p>Terms & Privacy</p>
			<p>Contact Us</p>
			<p>Developers</p>
		</div>
		<hr/>
		<p class="copyright">&copy; 2018 somecompany.com</p>
	</div>
</div>
{{yield}}