 <section class="hero row">
 	<div class="hero__wrapper">
	 	<h1 class="hero__title">Hello, world!</h1>
	 	<h3 class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim, ullamco laboris ea commodo consequat.</h3>
	 	<a href="#" class="hero__cta">Learn More &#187;</a>
 </div>
 </section>
{{yield}}