<div class="our-team row">
	<div class="our-team__wrapper">
		<h1 class="our-team__heading">Our team</h1>
		<h4  class="our-team__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</h4>
		<div class="our-team__container">
			<div class="our-team__member col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<img  class="our-team__member-image" src="assets/images/riffraff.jpg">
				<h3>Riff Raff</h3>
				<h4>FOUNDER</h4>
				<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<div class="our-team__social-media">
					<a class="facebook" href="#"></a>
					<a class="twitter" href="#"></a>
					<a class="linkedin" href="#"></a>
				</div>
			</div>
			<div class="our-team__member  col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<img class="our-team__member-image" src="assets/images/2chainz.jpeg">
				<h3>2 Chainz</h3>
				<h4>CHIEF TECHNOLOGY OFFICER</h4>
				<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<div class="our-team__social-media">
					<a class="facebook" href="#"></a>
					<a class="twitter" href="#"></a>
					<a class="linkedin" href="#"></a>
				</div>
			</div>
			
            <div class="our-team__member col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<img class="our-team__member-image" src="assets/images/nene.jpeg">
				<h3>NeNe Leakes</h3>
				<h4>DIRECTOR OF MARKETING</h4>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<div class="our-team__social-media">
					<a class="facebook" href="#"></a>
					<a class="twitter" href="#"></a>
					<a class="linkedin" href="#"></a>
				</div>
			</div>
			<div class="our-team__member col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<img class="our-team__member-image" src="assets/images/miley.jpg">
				<h3>Miley Cyrus</h3>
				<h4>CREATIVE DIRECTOR</h4>
				<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<div class="our-team__social-media">
					<a class="facebook" href="#"></a>
					<a class="twitter" href="#"></a>
					<a class="linkedin" href="#"></a>
				</div>
			</div>
		</div>
	</div>
</div>
{{yield}}