<div class="partners row">
	<div class="partners__wrapper">

		<img src="assets/images/logo-nike.svg" class="nike" />
		<img src="assets/images/logo-ms.svg" class="microsoft" />
		<img src="assets/images/logo-github.svg" class="github" />
	</div>
</div>
{{yield}}