<div class="row redefining-web">
	<div class="redefining-web__wrapper">
	<h2 id="redefining-web" class="redefining-web__heading hidden-sm hidden-md hidden-lg">Redefining the Web</h2>
			<div class="col-sm-6 col-xs-12 redefining-web__img">
			</div>
			<div class="col-sm-6 col-xs-12">
				<h2 id="redefining-web" class="redefining-web__heading hidden-xs">Redefining the Web</h2>
				<p class="redefining-web__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
				<p class="redefining-web__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="#" class="btn btn-default redefining-web__btn">Learn more</a>
			</div>
		</div>
	</div>
{{yield}}