<div class="services row">
	<div class="services__wrapper">
	<h1 class="services__heading">Services</h1>
	<h4  class="services__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
	<div class="services__container">
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/idea.svg">
			<h3>Unique Layouts</h3>
			<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			</div>
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/mobile-phone.svg">
			<h3>Responsive</h3>
			<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/loading.svg">
			<h3>Ajax Transitions</h3>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/shopping-black-bag.svg">
			<h3>E-Commerce</h3>
			<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/menu.svg">
			<h3>Unlimited Portfolios</h3>
			<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
		<div class="services__item col-sm-4 col-md-4 col-lg-4">
			<img src="assets/images/energy.svg">
			<h3>Powerful</h3>
			<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
		</div>
	</div>
</div>
{{yield}}